@font-face {
    font-family: AbrilFatface-Regular;
    src: url(../static/font/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: SC-ExtraLight;
    src: url(../static/font/SC-ExtraLight.otf);
}