html,
body {
    height: 100%;
    width: 100%;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

a {
    color: #2d374b;
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

#content {
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    position: absolute;
}

.page1 {
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.play-music {
    position: fixed;
    top: 1.06rem;
    right: 1.06rem;
    z-index: 999;
}

.play-music .music-icon {
    width: 1.86rem;
    height: 1.86rem;
}

.play-music .music-icon.play {
    animation: 2s play-music linear infinite;
}

@keyframes play-music {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.musicCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.arrows-top {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -1.06rem;
    width: 2.13rem;
    height: 1.6rem;
    z-index: 99;
    animation: 1.5s arrows-top linear infinite;
}

@keyframes arrows-top {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        bottom: 1.06rem;
        opacity: 1;
    }
    100% {
        bottom: 2.13rem;
        opacity: 0;
    }
}


/* 第一屏样式 */

.page1-bg,
.page20-bg {
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.page1.active .page1-bg,
.page20.active .page20-bg {
    animation: 2s page1-bg linear forwards;
}

@keyframes page1-bg {
    0% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.page1-name {
    position: absolute;
    bottom: 9.6rem;
    left: -100%;
    font-size: 1.6rem;
    font-family: SC-ExtraLight;
}

.page1.active .page1-name {
    animation: 2s page1-name 1s linear forwards;
}

@keyframes page1-name {
    0% {
        left: -100%;
    }
    100% {
        left: 2.56rem;
    }
}

.page1-title {
    position: absolute;
    bottom: 6.4rem;
    width: 100%;
    letter-spacing: 0.26rem;
    text-align: center;
    font-family: AbrilFatface-Regular;
    font-size: 2.66rem;
    transform: scale(0);
}

.page1.active .page1-title {
    animation: 2s page1-title 1s linear forwards;
}

@keyframes page1-title {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(.5) rotateX(180deg);
    }
    100% {
        transform: scale(1) rotateX(360deg);
    }
}

.page1-bridegroom,
.page1-bride {
    position: absolute;
    bottom: 3.2rem;
    left: 2.56rem;
    width: 10.66rem;
    font-family: SC-ExtraLight;
    font-size: 1.06rem;
    text-align: justify;
    opacity: 0;
}

.page1-bride {
    bottom: 3.2rem;
}

.page1.active .page1-bridegroom {
    animation: .5s page1-bridegroom 2s linear forwards;
}

@keyframes page1-bridegroom {
    0% {
        bottom: 3.2rem;
        opacity: .5;
    }
    100% {
        bottom: 4.8rem;
        opacity: 1;
    }
}

.page1.active .page1-bride {
    animation: .5s page1-bride 2s linear forwards;
}

@keyframes page1-bride {
    0% {
        bottom: 4.8rem;
        opacity: .5;
    }
    100% {
        bottom: 3.2rem;
        opacity: 1;
    }
}

.page1-tips {
    position: absolute;
    bottom: -1.06rem;
    width: 100%;
    text-align: center;
    font-family: AbrilFatface-Regular;
    font-weight: bold;
    font-size: 0.64rem;
    letter-spacing: 0.21rem;
}

.page1.active .page1-tips {
    animation: 1s page1-tips 2s linear forwards;
}

@keyframes page1-tips {
    0% {
        bottom: -1.06rem;
    }
    100% {
        bottom: 0.85rem;
    }
}


/* 第二屏 */

.page20-content {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-left: -7.73rem;
    margin-top: -13.06rem;
    width: 15.46rem;
    height: 26.13rem;
    background-color: rgba(255, 255, 255, .7);
    transform: scale(0);
}

.page20-content::after,
.page20-content::before {
    content: '';
    width: 16.53rem;
    height: 27.2rem;
    box-sizing: border-box;
    border: 0.05rem solid;
    position: absolute;
    top: -0.58rem;
    left: -0.58rem;
    z-index: -1;
    animation: boxBorder 8s linear infinite;
}

.page20-content:before {
    animation-delay: -4s;
}

@keyframes boxBorder {
    0% {
        border-color: #fff;
        clip: rect(0, 16.53rem, 0.10rem, 0);
    }
    25% {
        border-color: yellow;
        clip: rect(0, 0.10rem, 27.2rem, 0)
    }
    50% {
        border-color: blue;
        clip: rect(27.62rem, 16.53rem, 27.2rem, 0)
    }
    75% {
        border-color: red;
        clip: rect(0, 16.53rem, 27.2rem, 11.62rem)
    }
    100% {
        border-color: #fff;
        clip: rect(0, 16.53rem, 0.10rem, 0)
    }
}

.page20.active .page20-content {
    padding: 0.53rem;
    text-align: center;
    font-family: SC-ExtraLight;
    font-size: 0.85rem;
    animation: 1s page20-content .5s linear forwards;
}

@keyframes page20-content {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.page20-title-icon {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    width: 14.4rem;
    height: 1.6rem;
}

.page20.active .page20-title-icon {
    animation: 2s page20-title-icon 1.5s linear forwards;
}

@keyframes page20-title-icon {
    0% {
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.page20-title-txt {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin: 0.53rem 0;
    font-size: 0.8rem;
}

.page20.active .page20-title-txt {
    animation: 2s page20-title-icon 1.8s linear forwards;
}

.page20-time-title {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 1.6rem;
}

.page20.active .page20-time-title {
    animation: 2s page20-title-icon 2s linear forwards;
}

.page20-time {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 0.53rem;
}

.page20.active .page20-time {
    animation: 2s page20-title-icon 2.2s linear forwards;
}

.page20.active .page20-time.lunar {
    animation: 2s page20-title-icon 2.4s linear forwards;
}

.page20-address-title,
.page20-address {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 0.53rem;
}

.page20.active .page20-address-title {
    animation: 2s page20-title-icon 2.6s linear forwards;
}

.page20.active .page20-address {
    animation: 2s page20-title-icon 2.8s linear forwards;
}

.page20-address-img {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 1.06rem;
}

.page20.active .page20-address-img {
    animation: 2s page20-title-icon 3s linear forwards;
}

.page20-tips {
    position: absolute;
    width: 14.4rem;
    bottom: -32rem;
    font-size: 0.64rem;
    opacity: 0;
}

.page20.active .page20-tips {
    animation: 2s page20-tips 3.2s linear forwards;
}

@keyframes page20-tips {
    0% {
        opacity: 0;
    }
    100% {
        bottom: 0.53rem;
        opacity: 1;
    }
}