html,
body {
    height: 100%;
    width: 100%;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

a {
    color: #2d374b;
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

#content {
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    position: absolute;
}

.page1 {
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.play-music {
    position: fixed;
    top: 1.06rem;
    right: 1.06rem;
    z-index: 999;
}

.play-music .music-icon {
    width: 1.86rem;
    height: 1.86rem;
}

.play-music .music-icon.play {
    animation: 2s play-music linear infinite;
}

@keyframes play-music {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.musicCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.arrows-top {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -1.06rem;
    width: 2.13rem;
    height: 1.6rem;
    z-index: 99;
    animation: 1.5s arrows-top linear infinite;
}

@keyframes arrows-top {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        bottom: 1.06rem;
        opacity: 1;
    }
    100% {
        bottom: 2.13rem;
        opacity: 0;
    }
}


/* 来电显示 */

.cid {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.cid::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    animation: 1s cid-after linear forwards;
}

@keyframes cid-after {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.cid-bg {
    width: 100%;
    height: 100%;
}

.cid-content {
    position: absolute;
    padding: 1.06rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    font-family: nanyongmingti;
}

.cid-name {
    text-align: center;
    font-size: 2.13rem;
    color: #fff;
}

.cid-tips-img {
    display: block;
    margin: 0 auto;
    margin-top: 0.53rem;
    width: 10.66rem;
}

.cid-operation {
    position: absolute;
    bottom: 2.13rem;
    left: 50%;
    margin-left: -5.97rem;
    width: 11.94rem;
    height: 9.92rem;
}

.cid-refuse {
    width: 100%;
    height: 100%;
}

.cid-accept {
    position: absolute;
    bottom: 0;
    right: -0.9rem;
    width: 3.78rem;
    height: 5.54rem;
    z-index: 1;
}

.cid-accept-flicker {
    position: absolute;
    width: 3.84rem;
    height: 3.84rem;
    right: -0.96rem;
    bottom: 1.70rem;
    background-color: rgb(114, 218, 98, .3);
    border-radius: 50%;
    z-index: 0;
    animation: 1s cid-accept-flicker linear infinite;
}

@keyframes cid-accept-flicker {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}

.section {
    overflow: hidden;
}


/* 第一屏样式 */

.page1-bg,
.page4-bg {
    width: 100%;
    height: 100%;
    transform: scale(1);
}


/* .page1.active .page1-bg, */

.page4.active .page4-bg {
    animation: 2s page1-bg linear forwards;
}

@keyframes page1-bg {
    0% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.page1-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.page1.active .page1-shade {
    animation: 1s page1-shade 13.5s linear forwards;
}

@keyframes page1-shade {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.page1-shade-item {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: relative;
}

.shade-item1,
.shade-item3 {
    top: -100%;
}

.shade-item2,
.shade-item4 {
    bottom: -100%;
}

.page1.active .shade-item1 {
    animation: 1s shade-item1 linear forwards;
}

.page1.active .shade-item2 {
    animation: 1s shade-item2 .2s linear forwards;
}

.page1.active .shade-item3 {
    animation: 1s shade-item1 .4s linear forwards;
}

.page1.active .shade-item4 {
    animation: 1s shade-item2 .6s linear forwards;
}

@keyframes shade-item1 {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0.5;
    }
}

@keyframes shade-item2 {
    0% {
        bottom: -100%;
        opacity: 1;
    }
    100% {
        bottom: 0;
        opacity: 0.5;
    }
}

.page1-darling,
.page1-title1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    font-size: 2.13rem;
    color: #fff;
    z-index: 99;
}

.page1.active .page1-darling {
    animation: 1s page1-darling 1s linear forwards;
}

@keyframes page1-darling {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
    25% {
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    75% {
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
}

.page1-call {
    position: absolute;
    color: #fff;
    z-index: 99;
    transform: scale(0);
}

.page1.active .page1-call1 {
    animation: 1.5s page1-call 2s linear forwards;
}

.page1.active .page1-call2 {
    animation: 1.5s page1-call 2.2s linear forwards;
}

.page1.active .page1-call3 {
    animation: 1.5s page1-call 2.4s linear forwards;
}

.page1.active .page1-call4 {
    animation: 1.5s page1-call 2.2s linear forwards;
}

.page1.active .page1-call5 {
    animation: 1.5s page1-call 2s linear forwards;
}

.page1.active .page1-call6 {
    animation: 1.5s page1-call 2s linear forwards;
}

.page1.active .page1-call7 {
    animation: 1.5s page1-call 2.1s linear forwards;
}

.page1.active .page1-call8 {
    animation: 1.5s page1-call 2s linear forwards;
}

@keyframes page1-call {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.page1-title1 {
    left: -5.33rem;
    width: 9.6rem;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.page1.active .page1-title1 {
    animation: 2s page1-title1 3.5s ease-in-out forwards;
}

@keyframes page1-title1 {
    0% {
        left: -5.33rem;
    }
    40% {
        left: 50%;
    }
    50% {
        left: 50%;
    }
    60% {
        left: 50%;
    }
    100% {
        left: 26.66rem;
    }
}

.page1-title2,
.page1-title3,
.page1-title4,
.page1-title5 {
    position: absolute;
    width: 2.66rem;
    font-size: 2.66rem;
    color: #fff;
    z-index: 99;
}

.page1-title2 {
    top: -11.73rem;
    left: 6.4rem;
}

.page1.active .page1-title2 {
    animation: 2s page1-title2 5.5s ease-in-out forwards;
}

@keyframes page1-title2 {
    0% {
        top: -11.73rem;
    }
    40% {
        top: 8.53rem;
    }
    50% {
        top: 8.53rem;
    }
    60% {
        top: 8.53rem;
    }
    100% {
        top: 40rem;
    }
}

.page1-title3 {
    bottom: -7.46rem;
    right: 6.4rem;
}

.page1.active .page1-title3 {
    animation: 2s page1-title3 5.5s ease-in-out forwards;
}

@keyframes page1-title3 {
    0% {
        bottom: -7.46rem;
    }
    40% {
        bottom: 12.8rem;
    }
    50% {
        bottom: 12.8rem;
    }
    60% {
        bottom: 12.8rem;
    }
    100% {
        bottom: 40rem;
    }
}

.page1-title4 {
    width: 2.13rem;
    font-size: 2.13rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateY(90deg);
}

.page1.active .page1-title4 {
    animation: 1.5s page1-title4 7.5s ease-in-out forwards;
}

@keyframes page1-title4 {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateY(90deg);
    }
    40% {
        transform: translateX(-50%) translateY(-50%) rotateY(0deg);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) rotateY(0deg);
    }
    60% {
        transform: translateX(-50%) translateY(-50%) rotateY(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateY(90deg);
    }
}

.page1-title5 {
    width: 2.13rem;
    font-size: 2.13rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0) rotate(0);
}

.page1.active .page1-title5 {
    animation: 1.5s page1-title5 9s ease-in-out forwards;
}

@keyframes page1-title5 {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0) rotate(0);
        left: 50%;
    }
    40% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        left: 50%;
    }
    50% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        left: 50%;
    }
    60% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        left: 50%;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        left: 35.2rem;
    }
}

.page1-title6 {
    position: absolute;
    font-size: 4.26rem;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 99;
    transform: translateX(-50%) translateY(-50%) scale(0) rotate(0);
}

.page1.active .page1-title6 {
    animation: 1.5s page1-title6 10.5s ease-in-out forwards;
}

@keyframes page1-title6 {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0) rotate(0);
        opacity: 1;
    }
    40% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        opacity: 1;
    }
    50% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        opacity: 1;
    }
    60% {
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(4) rotate(720deg);
        opacity: 0;
    }
}

.page1-title7 {
    position: absolute;
    top: -5.33rem;
    left: 50%;
    font-size: 2.66rem;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    z-index: 99;
    color: #fff;
}

.page1.active .page1-title7 {
    animation: 1.5s page1-title7 12s ease-in-out forwards;
}

@keyframes page1-title7 {
    0% {
        top: -5.33rem;
        transform: translateX(-50%) translateY(-50%) rotate(0);
        opacity: 1;
    }
    40% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0);
        opacity: 1;
    }
    50% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0);
        opacity: 1;
    }
    60% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0);
        opacity: 1;
    }
    100% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
        opacity: 0;
    }
}

.page1-name {
    position: absolute;
    bottom: 9.6rem;
    left: -100%;
    font-size: 1.6rem;
    font-family: SC-ExtraLight;
}

.page1.active .page1-name {
    animation: 2s page1-name 13.5s linear forwards;
}

@keyframes page1-name {
    0% {
        left: -100%;
    }
    100% {
        left: 2.56rem;
    }
}

.page1-title {
    position: absolute;
    bottom: 6.4rem;
    width: 100%;
    letter-spacing: 0.26rem;
    text-align: center;
    font-family: AbrilFatface-Regular;
    font-size: 2.66rem;
    transform: scale(0);
}

.page1.active .page1-title {
    animation: 2s page1-title 13.5s linear forwards;
}

@keyframes page1-title {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(.5) rotateX(180deg);
    }
    100% {
        transform: scale(1) rotateX(360deg);
    }
}

.page1-bridegroom,
.page1-bride {
    position: absolute;
    bottom: 3.2rem;
    left: 2.56rem;
    width: 7rem;
    font-family: SC-ExtraLight;
    font-size: 1.06rem;
    text-align: justify;
    opacity: 0;
}

.page1-bride {
    bottom: 3.2rem;
}

.page1.active .page1-bridegroom {
    animation: .5s page1-bridegroom 15.5s linear forwards;
}

@keyframes page1-bridegroom {
    0% {
        bottom: 3.2rem;
        opacity: .5;
    }
    100% {
        bottom: 4.8rem;
        opacity: 1;
    }
}

.page1.active .page1-bride {
    animation: .5s page1-bride 15.5s linear forwards;
}

@keyframes page1-bride {
    0% {
        bottom: 4.8rem;
        opacity: .5;
    }
    100% {
        bottom: 3.2rem;
        opacity: 1;
    }
}

.page1-tips {
    position: absolute;
    bottom: -1.06rem;
    width: 100%;
    text-align: center;
    font-family: AbrilFatface-Regular;
    font-weight: bold;
    font-size: 0.64rem;
    letter-spacing: 0.21rem;
}

.page1.active .page1-tips {
    animation: 1s page1-tips 15.5s linear forwards;
}

@keyframes page1-tips {
    0% {
        bottom: -1.06rem;
    }
    100% {
        bottom: 0.85rem;
    }
}


/* 第二屏 */

.page2-bg,
.page3-bg {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
}

.page2.active .page2-bg {
    animation: 2s page2-bg linear forwards;
}

@keyframes page2-bg {
    0% {
        top: -100%;
        transform: scale(0);
    }
    70% {
        top: 0;
        transform: scale(0.5);
    }
    100% {
        top: 0;
        transform: scale(1);
    }
}

.page2-content,
.page3-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, .5);
}

.page2.active .page2-content,
.page3.active .page3-content {
    animation: .5s page2-content 2s linear forwards;
}

@keyframes page2-content {
    0% {
        height: 0;
    }
    100% {
        height: 10.66rem;
    }
}

.page2-content::after,
.page3-content::after {
    content: '';
    position: absolute;
    top: -0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.53rem;
    background-color: #000;
}

.page2.active .page2-content::after,
.page3.active .page3-content::after {
    animation: 1s page2-content-after 2.5s linear forwards;
}

@keyframes page2-content-after {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.page2-portrait,
.page3-portrait {
    position: absolute;
    top: -4.05rem;
    right: 1.06rem;
    width: 7.89rem;
    height: 7.89rem;
    border-radius: 50%;
    transform: scale(0);
    z-index: 99;
}

.page2.active .page2-portrait,
.page3.active .page3-portrait {
    animation: 1s page2-portrait 2.5s linear forwards;
}

@keyframes page2-portrait {
    0% {
        transform: scale(0) rotateZ(0);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

.page2-corsage,
.page3-corsage {
    position: absolute;
    top: 1.06rem;
    left: 1.06rem;
    width: 1.92rem;
    height: 1.86rem;
    transform: scale(0);
    z-index: 99;
}

.page2.active .page2-corsage,
.page3.active .page3-corsage {
    animation: .5s page2-corsage 2.5s linear forwards;
}

@keyframes page2-corsage {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.page2-title,
.page3-title {
    position: absolute;
    z-index: 99;
    top: 0.9rem;
    left: 9.6rem;
    font-family: soul-handwriting;
    font-size: 1.06rem;
    color: #fff;
    opacity: 0;
}

.page2.active .page2-title,
.page3.active .page3-title {
    animation: .5s page2-title 2.5s linear forwards;
}

@keyframes page2-title {
    0% {
        left: 9.6rem;
        opacity: 0;
    }
    100% {
        left: 4.37rem;
        opacity: 1;
    }
}

.page2-name,
.page3-name {
    position: absolute;
    z-index: 99;
    left: -5.33rem;
    top: 3.62rem;
    font-size: 0.85rem;
    font-family: SC-ExtraLight;
    color: #fff;
}

.page2.active .page2-name,
.page3.active .page3-name {
    animation: .5s page2-name 2.5s linear forwards;
}

@keyframes page2-name {
    0% {
        left: -5.33rem;
    }
    100% {
        left: 1.06rem;
    }
}

.page2-sentence1,
.page3-sentence1 {
    position: absolute;
    z-index: 99;
    left: 1.06rem;
    top: 16rem;
    font-size: 0.85rem;
    font-family: SC-ExtraLight;
    color: #fff;
    opacity: 0;
}

.page2.active .page2-sentence1,
.page3.active .page3-sentence1 {
    animation: 1s page2-sentence1 2.5s linear forwards;
}

@keyframes page2-sentence1 {
    0% {
        top: 16rem;
        opacity: 0;
    }
    100% {
        top: 5.33rem;
        opacity: 1;
    }
}

.page2-sentence2,
.page3-sentence2 {
    position: absolute;
    z-index: 99;
    left: 2.13rem;
    top: 16rem;
    font-size: 0.85rem;
    font-family: SC-ExtraLight;
    color: #fff;
    opacity: 0;
}

.page2.active .page2-sentence2,
.page3.active .page3-sentence2 {
    animation: 1s page2-sentence2 2.7s linear forwards;
}

@keyframes page2-sentence2 {
    0% {
        top: 16rem;
        opacity: 0;
    }
    100% {
        top: 6.93rem;
        opacity: 1;
    }
}


/* 第三屏 */

.page3-bg {
    top: auto;
    bottom: 0;
    transform: scale(1);
}

.page3.active .page3-bg {
    animation: 2s page3-bg linear forwards;
}

@keyframes page3-bg {
    0% {
        bottom: -100%;
        transform: scale(0);
    }
    70% {
        bottom: 0;
        transform: scale(0.5);
    }
    100% {
        bottom: 0;
        transform: scale(1);
    }
}


/* .page3-content {
    top: 0;
    bottom: auto;
    height: 0;
}

.page3.active .page3-content {
    animation: .5s page3-content 2s linear forwards;
}

@keyframes page3-content {
    0% {
        height: 0;
    }
    100% {
        height: 10.66rem;
    }
}

.page3-content::after {
    top: auto;
    bottom: -0.8rem;
    width: 0;
}

.page3.active .page3-content::after {
    animation: 1s page3-content-after 2.5s linear forwards;
}

@keyframes page3-content-after {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.page3-portrait {
    top: auto;
    bottom: -4.05rem;
}

.page3.active .page3-portrait {
    animation: 1s page3-portrait 2.5s linear forwards;
}

@keyframes page3-portrait {
    0% {
        transform: scale(0) rotateZ(0);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

.page3-title {
    top: 1.2rem;
} */


/* 第四屏 */

.page4-content {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-left: -7.73rem;
    margin-top: -13.06rem;
    width: 15.46rem;
    height: 26.13rem;
    background-color: rgba(255, 255, 255, .7);
    transform: scale(0);
    padding: 0.53rem;
    text-align: center;
    font-family: SC-ExtraLight;
    font-size: 0.85rem;
}

.page4-content::after,
.page4-content::before {
    content: '';
    width: 16.53rem;
    height: 27.2rem;
    box-sizing: border-box;
    border: 0.05rem solid;
    position: absolute;
    top: -0.58rem;
    left: -0.58rem;
    z-index: -1;
    animation: boxBorder 8s linear infinite;
}

.page4-content:before {
    animation-delay: -4s;
}

@keyframes boxBorder {
    0% {
        border-color: #fff;
        clip: rect(0, 16.53rem, 0.10rem, 0);
    }
    25% {
        border-color: yellow;
        clip: rect(0, 0.10rem, 27.2rem, 0)
    }
    50% {
        border-color: blue;
        clip: rect(27.62rem, 16.53rem, 27.2rem, 0)
    }
    75% {
        border-color: red;
        clip: rect(0, 16.53rem, 27.2rem, 11.62rem)
    }
    100% {
        border-color: #fff;
        clip: rect(0, 16.53rem, 0.10rem, 0)
    }
}

.page4.active .page4-content {
    animation: 1s page4-content .5s linear forwards;
}

@keyframes page4-content {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.page4-title-icon {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    width: 14.4rem;
    height: 1.6rem;
}

.page4.active .page4-title-icon {
    animation: 2s page4-title-icon 1.5s linear forwards;
}

@keyframes page4-title-icon {
    0% {
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.page4-title-txt {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin: 0.53rem 0;
    font-size: 0.8rem;
}

.page4.active .page4-title-txt {
    animation: 2s page4-title-icon 1.8s linear forwards;
}

.page4-time-title {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 1.6rem;
}

.page4.active .page4-time-title {
    animation: 2s page4-title-icon 2s linear forwards;
}

.page4-time {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 0.53rem;
}

.page4.active .page4-time {
    animation: 2s page4-title-icon 2.2s linear forwards;
}

.page4.active .page4-time.lunar {
    animation: 2s page4-title-icon 2.4s linear forwards;
}

.page4-address-title,
.page4-address {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 0.53rem;
}

.page4.active .page4-address-title {
    animation: 2s page4-title-icon 2.6s linear forwards;
}

.page4.active .page4-address {
    animation: 2s page4-title-icon 2.8s linear forwards;
}

.page4-address-img {
    position: relative;
    bottom: -32rem;
    opacity: 0;
    margin-top: 1.06rem;
}

.page4.active .page4-address-img {
    animation: 2s page4-title-icon 3s linear forwards;
}

.page4-tips {
    position: absolute;
    width: 14.4rem;
    bottom: -32rem;
    font-size: 0.64rem;
    opacity: 0;
}

.page4.active .page4-tips {
    animation: 2s page4-tips 3.2s linear forwards;
}

@keyframes page4-tips {
    0% {
        opacity: 0;
    }
    100% {
        bottom: 0.53rem;
        opacity: 1;
    }
}


/* 第五屏 */

.page5-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.8);
}

.page5.active .page5-bg {
    animation: .5s page5-bg linear forwards;
}

@keyframes page5-bg {
    0% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

.page5-content,
.page5-content::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
    width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 160px;
    transform: scale(0);
}

.page5-content {
    padding: 60px;
}

.page5-content::after {
    content: '';
    margin-top: -260px;
    margin-left: -160px;
    width: 320px;
    height: 520px;
}

.page5.active .page5-content {
    animation: .7s page5-content .7s linear forwards;
}

.page5.active .page5-content::after {
    animation: 1s page5-content .5s linear forwards;
}

@keyframes page5-content {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.page5-title {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: soul-handwriting;
    z-index: 99;
}

.page5-input {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    color: #868686;
}

.page5-textarea {
    padding: 10px;
    height: 60px;
    line-height: normal;
    resize: none;
}

.page5-submit {
    position: relative;
    z-index: 99;
    margin: 0 auto;
    margin-top: 40px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #bd3100;
    border-color: #bd3100;
    color: #fff;
    text-align: center;
    line-height: 40px;
}


/* 第六屏样式 */

.page6-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    transform: scale(0);
    opacity: 0;
}

.page6.active .page6-bg {
    animation: 1s page6-bg linear forwards;
}

@keyframes page6-bg {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.page6-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -255px;
    margin-left: -155px;
    width: 310px;
    height: 510px;
    background-color: rgba(255, 255, 255, .5);
    transform: scale(0);
    z-index: 99;
}

.page6.active .page6-content {
    animation: 1s page6-content .5s linear forwards;
}

@keyframes page6-content {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.page6-verse {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size: 16px;
    font-family: soul-handwriting;
}


/* 弹窗样式 */

.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: -130px;
    width: 260px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.alert-title {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

.alert-content {
    margin-top: 14px;
    font-size: 14px;
}

.alert-btn {
    margin-top: 20px;
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    color: #007aff;
    font-weight: bold;
    border-top: 1px solid #ddd;
}


/* 弹幕样式 */

.barrage {
    position: absolute;
    font-size: 16px;
    left: 1000px;
    width: max-content;
    top: 0;
    z-index: 9999999;
}