html,
body {
    height: 100%;
    width: 100%;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font-size: 12px;
    font-family: '微软雅黑';
    background: #fff;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

a {
    color: #2d374b;
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

#content {
    width: 100%;
    height: 100%;
    top: 0px;
    overflow: hidden;
    position: absolute;
}

.page1 {
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.play-music {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.play-music .music-icon {
    width: 35px;
    height: 35px;
}

.play-music .music-icon.play {
    animation: 2s play-music linear infinite;
}

@keyframes play-music {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.musicCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}


/* 第一屏样式 */

.page1-bg {
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.page1.active .page1-bg {
    animation: 2s page1-bg linear forwards;
}

@keyframes page1-bg {
    0% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.page1-name {
    position: absolute;
    bottom: 180px;
    left: -100%;
    font-size: 30px;
    font-family: SC-ExtraLight;
}

.page1.active .page1-name {
    animation: 2s page1-name 1s linear forwards;
}

@keyframes page1-name {
    0% {
        left: -100%;
    }
    100% {
        left: 48px;
    }
}

.page1-title {
    position: absolute;
    bottom: 120px;
    width: 100%;
    letter-spacing: 5px;
    text-align: center;
    font-family: AbrilFatface-Regular;
    font-size: 50px;
    transform: scale(0);
}

.page1.active .page1-title {
    animation: 2s page1-title 1s linear forwards;
}

@keyframes page1-title {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(.5) rotateX(180deg);
    }
    100% {
        transform: scale(1) rotateX(360deg);
    }
}

.page1-bridegroom,
.page1-bride {
    position: absolute;
    bottom: 60px;
    left: 48px;
    width: 200px;
    font-family: SC-ExtraLight;
    font-size: 20px;
    text-align: justify;
    opacity: 0;
}

.page1-bride {
    bottom: 60px;
}

.page1.active .page1-bridegroom {
    animation: .5s page1-bridegroom 2s linear forwards;
}

@keyframes page1-bridegroom {
    0% {
        bottom: 60px;
        opacity: .5;
    }
    100% {
        bottom: 90px;
        opacity: 1;
    }
}

.page1.active .page1-bride {
    animation: .5s page1-bride 2s linear forwards;
}

@keyframes page1-bride {
    0% {
        bottom: 90px;
        opacity: .5;
    }
    100% {
        bottom: 60px;
        opacity: 1;
    }
}